.product{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem;
  margin: 2rem auto;
  max-width: 1440px;
  padding: 0 2rem;
  height: 600px;
  justify-items: center;
}
.product .product-img{
  display: flex;
  justify-content: center;
  height: 100%;
}
.product .product-img img{
  object-fit: contain;
}
.product .product-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 15px;
}
.product .product-info .product-title{
  font-size: 2rem;
  font-weight: bold;
}
.product .product-info .product-description{
  flex: 1;
}
.product .product-quantity{
  display: flex;
  align-items: center;
  width: 180px;
}
.product .product-quantity label{
  flex: 1;
  font-weight: 700;
}
.product .product-quantity input{
  width: 3rem;
  text-align: center;
}
.product .product-btn{
  padding: .5rem;
  text-align: center;
  border: none;
  font-size: 1.2rem;
  color: rgb(27, 27, 27);
  cursor: pointer;
}
.product .product-btn:hover{
filter: brightness(0.9);
}

.product button.product-btn{
  background-color: rgb(164, 255, 225);
}
.product a.product-btn{

  background-color: rgb(226, 226, 226);
}